/**************************
*reset css
********************************/
a:hover,a:focus,a:active{text-decoration: none;}


/*              ******common css*****************/

body{
    background-color: #cecccd;
}


/******************header section***********************/

#header{
    height: 300px;
    display: inline-block;
}
#header img{
    float: left;
    padding: 20px 30px;
}
#header h1{
    float: right
}
#navbar-section{
    background-color: #7b7a7b;
}
#navbar-section ul{
    list-style: none;
    margin-bottom: 0;
}
#navbar-section ul li{
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}
#navbar-section ul li:hover{
    background-color: #612079;
}
#navbar-section ul li a{
      color: #fff;
}


/****************************main-section data****************/
#main-section{
    background-color: #fff;
    margin-top: 0;
    padding: 10px;
}

.headder-item{
    background-color: #612079;
    border-radius: 6px;
    color: #fff;
}
.headder-item h3{
    padding: 9px;
}
.data-section img{
    width: 100%;
}
.data-section h4{
    font-weight: bold;
    
}