/**************************
*reset css
********************************/
a:hover,a:focus,a:active{text-decoration: none;}


/*******************common css*****************/

body{
    background: #cecccd url('../images/hdaderimg3.jpg') no-repeat;
}
/******************header section***********************/

#header{
    height: 300px;
    display: inline-block;
}
#header img{
    float: left;
    padding: 20px 30px;
}
#header h1{
    float: right
}
#navbar-section{
    background-color: #7b7a7b;
}
#navbar-section ul{
    list-style: none;
    margin-bottom: 0;
}
#navbar-section ul li{
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}
#navbar-section ul li:hover{
    background-color: #612079;
}
#navbar-section ul li a{
      color: #fff;
}


/****************************main-section data****************/
#main-section{
    background-color: #fff;
    margin-top: 0;
    padding: 10px;
}
marquee{
    color: #612079;
    font-weight: bold;
}
.headder-item{
    background-color: #612079;
    border-radius: 6px;
    color: #fff;
}
.headder-item h3{
    padding: 9px;
}
.data-section img{
    width: 100%;
}
.data-section h4{
    font-weight: bold;
    
}
#organisers img{
    width: 100%;
}
#organisers .headder-item h3{
    text-align: center;
}
#footer{
    background-color: #e3e3e3;
    color: #aba3b6;
    padding-left: 10px;
}
#footer ul{
    list-style: none;
    padding-left: 10px;
    border-right: 1px dotted #d3d3d3;
}
#copyrights{
    text-align: center;
    padding: 20px 0;
}

/************************course directors section***********************/
#course-directors h3{
    color: #612079;
}
#course-directors img{
    padding-left: 10%;
    width: 80%;
    padding-top: 24px;
}